.git
.github
.agents
.env
.env.*
node_modules
vendor
public/build
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
00_dev_refferences
server-docker-setup
.phpunit.result.cache
.phpunit.cache
*.log
Thumbs.db
.DS_Store
.idea
.vscode
.cursor
